@import url('https://fonts.googleapis.com/css2?family=Montserrat');

.login-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100;
  height: 50;
  color: white;
  background-color: blue;
}

.front-page-title{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
}
