
.editor{
    position:absolute;
    left:50%;
    transform: translate(-50%, 5%);
    height:85%; 
    width:90%;
    background-color:white;
}
.editor .ql-toolbar{
    background-color:whitesmoke;
}

body{
    background-color:antiquewhite;
}